.video__comments-section {
  display: flex;
  flex-direction: column;
  .video__comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .video__comments-add__container {
    margin: 25px 0px 25px 0px;
    display: grid;
    grid-template-columns: 2fr 40fr auto;
    .video__comments-form {
      margin: 8px 0px 0px 8px;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      textarea {
        all: unset;
        padding: 10px 0px 0px 10px;
        border: none;
        width: 100%;
        border-bottom: 1px solid $light-gray;
        resize: none;
        height: 30px;
        margin-bottom: 8px;
        transition: height 0.25s ease-in-out;
        &:focus,
        &:not(:placeholder-shown) {
          height: 100px;
          border: 1px solid $light-gray;
          border-radius: 15px;
        }
        &:focus + button {
          display: flex;
        }
        &:not(:placeholder-shown) + button {
          display: flex;
          background-color: $blue;
        }
      }
      button {
        font-size: 16px;
        display: none;
        color: $white;
        background-color: $light-gray;
        border: 0;
        border-radius: 80px;
        padding: 10px 20px;
        font-weight: $bold;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 100%;

  .video__comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .video__comment-added {
    display: flex;
  }
  .video__comment-avatar__empty {
    margin: 0 15px;
  }
}

// .video__comments {
//   display: flex;
//   flex-direction: column;
//   max-width: 320px;
//   width: 100%;
//   margin: 0 auto;
//   margin-top: 20px;
//   i {
//     margin-right: 5px;
//   }
//   .video__comment {
//     background-color: white;
//     color: black;
//     margin-bottom: 15px;
//     padding: 10px;
//     border-radius: 999px;
//   }
// }
