.page__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3vh;
  h1 {
    font-size: 2rem;
    font-weight: $bold;
  }
}

form:not(.video__comments-form) {
  margin: 0 auto;
}

form:not(.video__comments-form, .search__form) {
  width: 40%;
  // margin: 0 auto;
}
form {
  &:not(.video__comments-form, .search__form) {
    padding: 30px;
    // background-color: rgba($color: $light-gray, $alpha: 0.7);
    background-color: $light-gray;
    border-radius: 10px;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
  }
  //   padding: 20px;
  //   background-color: rgba($color: #000000, $alpha: 0.7);
  //   border-radius: 10px;
  //   border: 1px solid rgba($color: #fff, $alpha: 0.1);
}
input:not([type="range"]) {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: $white;
  margin-bottom: 5px;
  color: $bg;
  width: 80%;
  &::placeholder {
    color: $light-bg;
  }
}

input[type="submit"],
.social__btn {
  padding: 12px 20px;
  border-radius: 5px;
  background-color: $blue;
  color: $bg;
  font-weight: $bold;
  text-align: center;
  cursor: pointer;
  display: block;
}
input[type="submit"]:hover {
  background-color: $light-red;
  color: $white;
}

@media screen and (max-width: 480px), (max-device-width: 480px) {
  .page__title {
    h1 {
      font-size: 3rem;
    }
    &:not(.page__title-edit) {
      margin-top: 6vh;
    }
  }
  form:not(.video__comments-form, .search__form) {
    padding: 3rem;
    width: 90%;

    border-radius: 20px;
    label {
      font-size: 2rem;
    }
  }
  form:not(.video__comments-form, .search__form, .edit-profile__form) {
    // margin-top: 10vh;
  }

  input:not([type="range"]) {
    margin-top: 0.3rem;
    border-radius: 10px;
  }
  .auth-switch {
    font-size: 1.8rem;
  }
}

@media screen and (max-device-width: 480px) {
  form:not(.video__comments-form, .search__form) {
    font-size: 2.5rem;
  }
}
