header {
  position: fixed;
  box-sizing: border-box;
  z-index: 5;
  top: 0;
  // left: 0;
  // right: 0;
  width: 100%;
  height: 5rem;

  padding: 1rem 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  // flex-direction: row;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.1);
  .flex1,
  .flex3 {
    flex: 1 1 20em;
  }

  .header__logo {
    .header__icon {
      display: flex;
      flex-direction: row;
      // color: $red;
      // font-size: 36px;
      img {
        // width: 1.8rem;
        // height: 1.8rem;
        vertical-align: text-bottom;
      }
      span {
        padding: 10px 3px 3px 3px;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: -1.7px;
      }
    }
  }
  .search__form {
    display: flex;
    width: 80%;
    align-items: center;
    position: relative;

    input {
      display: flex;
      all: unset;
      padding: 1rem 1.4rem;
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: $light-gray;
      margin-bottom: 5px;
      font-size: 1rem;
      color: $bg;
      width: 100%;
    }
    button {
      all: unset;
    }
    button {
      // border: 1px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      right: 25px;
      top: 17px;
      color: $bg;
      font-weight: $bold;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    justify-content: end;
    align-items: center;

    li {
      margin-left: 30px;
      font-size: 1rem;
      font-weight: $bold;
      &:not(.header__profile) {
        text-transform: uppercase;
      }
    }
    i {
      font-size: 1rem;
    }
  }

  .header__hamburger__menu {
    position: relative;
    .header__hamburger__menu-btn {
      border: 0;
      padding: 15px;
      border-radius: 100px;
      transition: background-color 0.1s ease-in-out;
      cursor: pointer;
      i {
        font-size: 1.3rem;
      }
      &:hover {
        background-color: $super-light-gray;
      }
    }
    .header__hamburger__menu-list {
      z-index: 1;
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $white;
      border-radius: 10px;
      border: 1px solid #e5e5e5;
      box-shadow: 1px 2px 2px #ccc;
      width: 150px;
      top: 105%;
      right: 22px;
      transition: all 0.1s ease-in-out;
      a {
        padding: 15px;
        &:first-child {
          border-radius: 10px 10px 0 0;
        }
        &:last-child {
          border-radius: 0 0 10px 10px;
        }
        &:hover {
          background-color: $super-light-gray;
        }
      }
    }
    .hamburger__hidden {
      visibility: hidden;
    }
  }

  .header__btn {
    background-color: $white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 481px) {
  header {
    .flex1 {
      img {
        width: 2.3rem;
        height: 2.3rem;
      }
    }
    // .flex2 {
    //   .search__form {
    //     width: 80%;
    //   }
    // }
  }
  .header__icon {
  }
}

@media screen and (min-width: 480px) and (max-width: 650px) {
  .header__icon {
    .osakatube__text {
      display: none;
    }
  }
  .flex2 {
    flex: 1 1 150vw;
    .search__form {
      width: 100%;
    }
  }
  .header__btn {
    display: none;
  }
  .log__hamburger {
    display: flex;
  }
}

@media screen and (min-width: 650px) {
  .flex2 {
    flex: 1 1 70vw;
  }
  .flex3 {
    .log__hamburger {
      display: none;
    }
  }
}

@media screen and (max-width: 480px), (max-device-width: 480px) {
  header {
    padding: 4rem 2.8rem 3rem 2.8rem;
    .flex1 {
      img {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
    .flex2 {
      flex: 1 1 150vw;
      .search__form {
        width: 100%;

        input {
          font-size: 1.5rem;
          padding: 1.5rem 1.5rem;
        }
        button {
          top: 1.6rem;
          right: 2rem;
          font-size: 1.5rem;
        }
      }
    }
    .flex3 {
      .header__hamburger__menu {
        transform: scale(1.3);

        .header__hamburger__menu-list {
          transform: scale(1.2);
          top: 120%;
          right: 2rem;
        }
      }
      .header__btn-list,
      .header__btn {
        display: none;
      }
      .log__hamburger {
        display: flex;
      }
    }
  }
  .header__icon {
    .osakatube__text {
      display: none;
    }
  }
  .header__profile {
    a {
      display: none;
    }
  }
}
