.video-grid {
  // display: grid;
  // gap: 1rem;
  // grid-template-columns: repeat(4, minmax(0, 1fr));
  // grid-template-columns: repeat(4, 1fr);
  //==위와같음 grid-template-columns: 1fr 1fr 1fr 1fr;
  //각열의 넓이는100px이고 4개를 만듬 ->  grid-template-columns: 100px 100px 100px 100px;
  //   low로 2개, columns 3개로하면 2행 3열이 됨.
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // width: 100%;
}

.video-mixin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 200px;
  padding: 0 1rem;
  margin-bottom: 1.3rem;
  .video-mixin__section {
    width: 100%;
    .video-mixin__thumb {
      height: 160px;
      border-radius: 6px;
      width: 100%;
      background-color: ivory;
    }
  }
  .video-mixin__data {
    display: flex;
    flex-direction: row;
    width: 100%;
    // padding: 0px 15px;
    a {
      .video__mixin-avatar {
        border-radius: 50%;
        margin: 0.5rem 0.5rem 0 0;
      }
    }

    .video-mixin__title {
      font-size: 16px;
      display: block;
      margin-top: 8px;
    }
    .video-mixin__meta {
      margin-top: 6px;
      font-size: 12px;
    }
  }
}
.video-mixin__section {
  // display: flex;
  // flex-direction: column;
  // width: 25%;
  // height: 200px;
  // padding: 0 1rem;
  // margin-bottom: 1.3rem;
}

@media screen and (min-width: 960px) {
  .video-mixin {
    width: 25%;
  }
}

@media screen and (min-width: 760px) and (max-width: 960px) {
  .video-mixin {
    width: 33%;
  }
}
@media screen and (min-width: 480px) and (max-width: 760px) {
  .video-mixin {
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  .video__mixin-avatar {
    width: 2.1rem;
    height: 2.1rem;
  }
}

@media screen and (max-width: 480px), (max-device-width: 480px) {
  .video-grid {
  }
  .video-mixin {
    width: 100%;
    height: 100%;
    .video-mixin__section {
      height: 100%;
      .video-mixin__thumb {
        height: 400px;
        border-radius: 16px;
      }
    }
    .video-mixin__data {
      .video__mixin-avatar {
        width: 90px;
        height: 90px;
      }
      .video-mixin__title {
        font-size: 2.5rem;
      }
      .video-mixin__meta {
        font-size: 1.8rem;
      }
    }
  }
}
