.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-bottom: 3rem;
  img {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
    margin-top: 11px;
  }
}

@media screen and (max-width: 480px), (max-device-width: 480px) {
  .profile__data {
    margin-top: 3vh;
    transform: scale(1.5);
    margin-bottom: 5rem;
    // .avatar-big{}
  }
}
