$red: #cc0d00;
$light-bg: #181818b7;
$semi-light-bg: rgba(0, 0, 0, 0.833);
$bg: #181818;
$blue: #b9cfe9;
$super-light-gray: #e5e5e5;
$light-gray: #d7dae2;
$gray: #74767a;
$navy: #556f94;
$white: #f0f4f5;
$semi-bold: 500;
$bold: 600;
$super-bold: 800;
