extends base

block content
    form(action="",method="POST")
        if errorMessage
            div.error__message
                span #{errorMessage}
        input(placeholder="Old Password",name="oldPassword",type="password",required)
        input(placeholder="New Password",name="newPassword",type="password",required)
        input(placeholder="New Password Confirmation",name="newPasswordConfirmation",type="password",required)
        input(type="submit")
    

