extend base.pug


block content 
    if errorMessage 
        div.error__message
            span #{errorMessage}
    div.page__title
        h1 #{pageTitle}
    form(action="", method="POST")
        input(placeholder="Username",name="username", type="text", required)
        input(placeholder="Password",name="password", type="password", required)
        input(type="submit",value="Login")
        include partials/social-login.pug
    div.auth-switch
        span Don't have an account? 
        a(href="/join") Create now! &rarr;
    
    