extends base.pug
include mixins/video.pug

block content 
    form(action="",method="get").search__form
        input(name="keyword",type="text", placeholder="Search by title")
        button 
            i.fas.fa-search

    div.video-grid
        each vd in videos
            +video(vd)
        else 
            span.empty__message Sorry nothing found.