extends base.pug
include mixins/video.pug

block content 
    //- form(action="",method="GET").search__form
    //-     input(name="keyword",type="text", placeholder="Search by title")
    //-     button 
    //-         i.fas.fa-search

    div.video-grid
        each vd in videos
            +video(vd)
        else 
            div.empty__message
                span Sorry nothing found.