extends base.pug

block content 
    if errorMessage
        h4 errorMessage

    form(action="" method="post",enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file",required,accept="video/*",name="video",id="video") 
        input(name="title",type="text", placeholder="Title",required)
        input(name="description",type="text", placeholder="Description",required)
        input(name="hashtags",type="text", placeholder="Hashtags",required)
        input(type="submit" value="Upload") 