header 
    //- h1=pageTitle
    div.header__logo.flex1
        a(href="/").header__icon
            //- i.fab.fa-youtube 
            img(src="/image/takoyaki2.png")
            span.osakatube__text OsakaTube
            
    //- res.locals 같은 경우 전역변수이기에 pug와 express가 공유하고있고
    //- 다른 명령어 없이 res.locals에 있는 데이터들은 간단하게 쓸 수 있다.
    //- 자바스크립트파일에서 res.locals안에 res.locals.sexy라는 오브젝트를 생성했다면
    //-  pug파일에서 #{sexy}를 입력해서 바로 사용할 수 있다.
    div.header__search.flex2
        form(action="/search",method="GET").search__form
            input(name="keyword",type="text", placeholder="Search by title")
            button 
                i.fas.fa-search
    nav.flex3
        ul 
            //- li 
            //-     a(href="/search") 
            //-         i.fas.fa-search
            if loggedIn
                li.header__hamburger__menu 
                    button.header__hamburger__menu-btn
                        i.fas.fa-bars
                    div.header__hamburger__menu-list.hamburger__hidden
                        a(href="/videos/upload") Upload video
                        a(href="/users/edit") Edit Profile
                        a(href=`/users/${loggedInUser._id}`) Profile
                        a(href="/users/logout") Logout
                li.header__profile
                    a(href=`/users/${loggedInUser._id}`)
                        if !loggedInUser.avatarUrl
                            div.header__avatar--empty.avatar-s
                                i.fas.fa-user
                        else
                            if isFlyIo
                                img.header__avatar(src=loggedInUser.avatarUrl,crossorigin)
                            else 
                                img.header__avatar(src="/" + loggedInUser.avatarUrl)
                            
            else    
                li  
                    a(href="/login").header__btn Login                        
                li  
                    a(href="/join").header__btn Join
                li.header__hamburger__menu.log__hamburger
                    button.header__hamburger__menu-btn
                        i.fas.fa-bars
                    div.header__hamburger__menu-list.hamburger__hidden
                        a(href="/login") Login
                        a(href="/join") Join