extends ../base
include ../mixins/video.pug

block content
        div.profile__data 
            //- if loggedInUser.avatarUrl === ""
            //-     span.avatar--empty NO IMAGE
            if isFlyIo
                img(src=user.avatarUrl,crossorigin).avatar
            else
                img(src="/"+ user.avatarUrl).avatar
            h3=user.name 
        div.video-grid
            each video in user.videos
                +video(video)
            else 
                span.empty__message Sorry nothing found.
            //-  in에는  받은 변수명 그대로
            //- each에는 받은 변수를 해당 pug템플릿 안에서 쓸 변수 명
            //- 즉 each뒤에 쓴 video는 컨트롤러에서받은 복수의 videos배열들을 1개씩 개별적으로 쓰는 것
            //- +믹싱파일에있는믹싱함수명(템플릿내에서의변수명)